.contact-address-section {
  position: relative;
  z-index: 1;
}

.single-contact-address-box {
  padding: 35px;
  margin-bottom: 20px;
  background-color: #f9f9fd;
  height: 100%;
}
.single-contact-address-box .icon {
  line-height: 1;
  font-size: 40px;
  margin-bottom: 20px;
  color: #007bff;
}
.single-contact-address-box h3 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}
.single-contact-address-box p {
  margin-bottom: 2px;
}
.single-contact-address-box p a {
  color: #030a21;
  display: inline-block;
}
.single-contact-address-box p a:hover {
  color: #007bff;
}
.single-contact-address-box p:last-child {
  margin-bottom: 0;
}
